<!--== About Us Area Start ==-->
  <section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>About us</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Our experienced team is focused on exceeding our clients' expectations.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- About Content Start -->
            <div class="col-lg-6">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="about-content">
                            <p>Our transport services are offered by our multinational team of licensed drivers who are fluent in languages such as English, Tagalog, Urdu, Nepali and Arabic. Our drivers are also fully aware and trained to operate within the culture of Qatar, in full compliance with local laws and regulations.</p>

                            <p>To deliver an exceptional service while offering the most customized, cost effective, and reliable transportation solution. Our mission is to continually provide superior transportation services by demonstrating our core values with dedicated team members, and by utilizing innovative strategies and technology.</p>
                            <div class="about-btn">
                                <a routerLink="/contact">Get A Quote</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Content End -->            
            <!-- About Video Start -->
            <div class="col-lg-6">
                <div class="about-video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YSKJbhduC-8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <!-- About Video End -->
        </div>
    </div>
    
</section> 
<!--== About Us Area End ==-->

<app-highlights></app-highlights>