<!--== Services Area Start ==-->
<section id="service-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Services</h2>
                    <span class="title-line"><i class="fa fa-bus"></i></span>
                    <p>Our transport services cover a variety of sectors, transporting over 12,500 staff all over Qatar; safely, on time, each and every day.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

       
        <!-- Service Content Start -->
        <div class="row">
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-graduation-cap"></i>
                    <a routerLink="/school_transport"><h3>School Transportation</h3></a>
                </div>
            </div>
            <!-- Single Service End -->
            
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-industry"></i>
                    <h3>Industrial Transportation</h3>
                </div>
            </div>
            <!-- Single Service End -->
            
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-building"></i>
                    <h3>Hotels Transportation</h3>
                </div>
            </div>
            <!-- Single Service End -->
            
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-users"></i>
                    <h3>Corporate Transportation</h3>
                </div>
            </div>
            <!-- Single Service End -->
            
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-bus"></i>
                    <h3>Buses on Rent</h3>
                </div>
            </div>
            <!-- Single Service End -->
            
            <!-- Single Service Start -->
            <div class="col-lg-4 text-center">
                <div class="service-item">
                    <i class="fa fa-handshake-o"></i>
                    <h3>Long Term & Short Term Lease</h3>
                </div>
            </div>
            <!-- Single Service End -->
        </div>
        <!-- Service Content End -->
    </div>
</section>
<!--== Services Area End ==-->