<!--== Choose Car Area Start ==-->
<section id="choose-car" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Vehicles</h2>
                    <span class="title-line"><i class="fa fa-bus"></i></span>
                    <p>Our range of buses allows us to accommodate most.</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- Choose Area Content Start -->
            <div class="col-lg-12">
                <div class="choose-content-wrap">
                    <!-- Popular Cars Tab Start -->
                    <div class="tab-pane fade show active" id="popular_cars" role="tabpanel" aria-labelledby="home-tab">
                        <!-- Popular Cars Content Wrapper Start -->
                        <div class="popular-cars-wrap">
                            <!-- Filtering Menu -->
							<div class="popucar-menu text-center">
								<a href="#" data-filter="*" class="active">All</a>
								<a href="#" data-filter=".small">Small</a>
								<a href="#" data-filter=".medium">Medium</a>
								<a href="#" data-filter=".large">Large</a>
								<a href="#" data-filter=".luxury">LUXURY</a>
							</div>
							<!-- Filtering Menu -->
                            <!-- PopularCars Tab Content Start -->
							<div class="row popular-car-gird">
								<!-- Single Popular Car Start -->
								<div class="col-lg-4 col-md-6 luxury">
									<div class="single-popular-car">
										<div class="p-car-thumbnails">
											<a class="car-hover" href="assets/img/buses/bus-1.jpg">
											  <img src="assets/img/buses/bus-1.jpg" alt="JSOFT">
										   </a>
										</div>

										<div class="p-car-content">
											<h3>
												<a href="#">Mercedes Benz Setra</a>
											</h3>

											<h5>Mercedes 52 Seats Bus</h5>

											<div class="p-car-feature">
												<a href="#">2017</a>
												<a href="#">manual</a>
												<a href="#">AIR CONDITION</a>
											</div>
										</div>
									</div>
								</div>
								<!-- Single Popular Car End -->

								<!-- Single Popular Car Start -->
								<div class="col-lg-4 col-md-6 luxury">
									<div class="single-popular-car">
										<div class="p-car-thumbnails">
											<a class="car-hover" href="assets/img/buses/bus-2.jpg">
											  <img src="assets/img/buses/bus-2.jpg" alt="JSOFT">
										   </a>
										</div>

										<div class="p-car-content">
											<h3>
												<a href="#">Mercedes-Benz Travego</a>
											</h3>

											<h5>Mercedes 52 Seats Bus</h5>

											<div class="p-car-feature">
												<a href="#">2017</a>
												<a href="#">manual</a>
												<a href="#">AIR CONDITION</a>
											</div>
										</div>
									</div>
								</div>
								<!-- Single Popular Car End -->

								<!-- Single Popular Car Start -->
								<div class="col-lg-4 col-md-6 large">
									<div class="single-popular-car">
										<div class="p-car-thumbnails">
											<a class="car-hover" href="assets/img/buses/bus-3.jpg">
											  <img src="assets/img/buses/bus-3.jpg" alt="JSOFT">
										   </a>
										</div>

										<div class="p-car-content">
											<h3>
												<a href="#">Mercedes Benz Tourismo</a>
											</h3>

											<h5>50 Seats Bus</h5>

											<div class="p-car-feature">
												<a href="#">2017</a>
												<a href="#">manual</a>
												<a href="#">AIR CONDITION</a>
											</div>
										</div>
									</div>
								</div>
								<!-- Single Popular Car End -->

								<!-- Single Popular Car Start -->
								<div class="col-lg-4 col-md-6 large">
									<div class="single-popular-car">
										<div class="p-car-thumbnails">
											<a class="car-hover" href="assets/img/buses/bus-4.jpg">
											  <img src="assets/img/buses/bus-4.jpg" alt="JSOFT">
										   </a>
										</div>

										<div class="p-car-content">
											<h3>
												<a href="#">Mercedes-Benz MCV 600</a>
											</h3>

											<h5>50 Seats Bus</h5>

											<div class="p-car-feature">
												<a href="#">2017</a>
												<a href="#">manual</a>
												<a href="#">AIR CONDITION</a>
											</div>
										</div>
									</div>
								</div>
								<!-- Single Popular Car End -->

								<!-- Single Popular Car Start -->
								<div class="col-lg-4 col-md-6 medium small luxury">
									<div class="single-popular-car">
										<div class="p-car-thumbnails">
											<a class="car-hover" href="assets/img/buses/car-5.jpg">
											  <img src="assets/img/buses/car-5.jpg" alt="JSOFT">
										   </a>
										</div>

										<div class="p-car-content">
											<h3>
												<a href="#">Dodge Ram 1500</a>
											</h3>

											<h5>HATCHBACK</h5>

											<div class="p-car-feature">
												<a href="#">2017</a>
												<a href="#">manual</a>
												<a href="#">AIR CONDITION</a>
											</div>
										</div>
									</div>
								</div>
								<!-- Single Popular Car End -->

								<!-- Single Popular Car Start -->
								<div class="col-lg-4 col-md-6 large">
									<div class="single-popular-car">
										<div class="p-car-thumbnails">
											<a class="car-hover" href="assets/img/buses/car-6.jpg">
											  <img src="assets/img/buses/car-6.jpg" alt="JSOFT">
										   </a>
										</div>

										<div class="p-car-content">
											<h3>
												<a href="#">Dodge Ram 1500</a>
											</h3>

											<h5>HATCHBACK</h5>

											<div class="p-car-feature">
												<a href="#">2017</a>
												<a href="#">manual</a>
												<a href="#">AIR CONDITION</a>
											</div>
										</div>
									</div>
								</div>
								<!-- Single Popular Car End -->
							</div>
						<!-- Popular Cars Content Wrapper End -->
                        </div>
                        <!-- Popular Cars Tab End -->
                    </div>
                    <!-- Choose Area Tab content -->
                </div>
            </div>
            <!-- Choose Area Content End -->
        </div>
    </div>
</section>
<!--== Choose Car Area End ==-->